.item {
    text-align: center;
}

.image img {
    max-width: 100%;
    height: auto;
}

.info-blog {
    display: flex;
    flex-direction: column;
}

.meta {
    display: flex;
    flex-direction: column;
}